/* FONT */

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap");

/* ROOT VARIABLES */

:root {
  --primary: #ef9b00;
  --primary-shade-1: #d78c00;

  --primary-tint-1: #fdf5e6;

  --black-shade-1: #333;
  --black-shade-2: #454545;
  --black-shade-3: #666;

  --white-secondary: #e5e5e5;
}

/* DEFAULT */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif !important;
  line-height: 1;
  font-weight: 400;
  color: var(--black-shade-3);
}

/* GRID SYSTEM  */

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* SECTIONS  */

.section {
  padding: 9.6rem 0;
}

.section-hero {
  display: flex;
  align-items: center;
  background-color: var(--primary-tint-1);
  height: 90vh;
}

.section-gallery {
  background-color: var(--primary-tint-1);
}

.section-testimonial {
  background-color: var(--primary-tint-1);
  position: relative;
  padding-bottom: 12.8rem;
}

.section-multimedia {
  padding-bottom: 0 !important;
}
.section-extras {
  padding-bottom: 19.8rem;
}
.section-footer {
  background-color: var(--primary-tint-1);
}

/* GENERAL */

.hero {
  align-items: center;
}

.fw-light {
  font-weight: lighter;
}

.color--primary {
  color: var(--primary);
}

/* CONTAINER */

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding-inline: 3.2rem;
}

/* HEADING SECTION */

.heading--primary {
  font-size: 5.2rem;
  margin-bottom: 2.4rem;
  color: var(--black-shade-1);
}

.heading--secondary {
  font-size: 3.6rem;
  color: var(--black-shade-1);
  margin-top: 1.2rem;
}

.heading--quaternary {
  font-size: 2.4rem;
  color: var(--black-shade-1);
}

.heading--quinery {
  font-size: 1.8rem;
  color: var(--black-shade-1);
}

.heading--tertiary {
  font-size: 3.2rem;
  color: var(--black-shade-1);
}

.heading--sub-text {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-shade-1);
}

/* BORDER RADIUS */

.right-round {
  border-radius: 0rem 0.8rem 0.8rem 0rem;
}

.left-round {
  border-radius: 0.8rem 0rem 0rem 0.8rem;
}

.heading-box--center {
  text-align: center;
}

.heading-box--left {
  text-align: left;
}

.hero__image {
  width: 100%;
  border-radius: 0.8rem;
}

.hero__description {
  margin-bottom: 3.2rem;
}

.description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.product__description {
  line-height: 1.6;
  font-size: 1.6rem;
}

.product__view-box {
  padding-top: 8rem !important;
  border-top: 1px solid var(--white-secondary);
}

.btn:visited,
.btn:link {
  text-transform: capitalize;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  transition: 0.5s all;
}

a {
  white-space: nowrap !important;
}
.btn {
  white-space: nowrap !important;
  border: none;
  background: none;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  transition: 0.5s all;
}

.btn--small {
  font-size: 1.6rem;
  padding: 1.2rem 1.8rem;
}

.email-input {
  font-size: 1.6rem;
  width: 100%;
  border: none;
  padding: 1.2rem 2.4rem;
  color: var(--black-shade-2);
}

.footer__form {
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
}

.footer__logo {
  font-weight: bold;
  display: block;
  margin-bottom: 3.2rem;
}

.btn--simple,
.btn--simple:visited,
.btn--simple:link {
  border-radius: 0px;
  color: var(--primary-shade-1);
}

.btn--simple:hover,
.btn--simple:active {
  cursor: pointer;
  color: var(--primary);
}

.btn--full,
.btn--full:visited,
.btn--full:link {
  color: white;
  background-color: var(--primary);
}

.btn--full:hover,
.btn--full:active {
  cursor: pointer;
  background-color: var(--primary-shade-1);
}

.btn--outline,
.btn--outline:visited,
.btn--outline:link {
  color: var(--black-shade-3);
  background-color: white;
}

.btn--outline:hover,
.btn--outline:active {
  cursor: pointer;
  color: var(--primary-shade-1);
  box-shadow: inset 0 0 0 0.3rem var(--primary-shade-1);
  background: none;
}

.hero__btn-box {
  display: flex;
  gap: 1.6rem;
}

.align-center {
  align-items: center;
}

.product__text-box {
  text-align: center;
}

.product__card:hover,
.product__card:active {
  cursor: pointer;
}

.img-scale {
  transition: transform 0.2s ease-in-out;
}

.product__card:hover .img-scale {
  transform: scale(1.1);
}

.product__img-box {
  height: 14.2rem;
  border-radius: 0.8rem;
  margin-bottom: 3.2rem;
  overflow: hidden;
}

.product__img {
  border-radius: 0.8rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product__view--img {
  height: 48rem;
}

.product__links {
  margin-bottom: 2.4rem;
}

.product__view--link:last-child {
  border-right: unset !important;
}

.product__view--link:visited,
.product__view--link:link {
  padding: 0 1.6rem;
  border-right: 2px solid #eaeaea;
  text-decoration: none;
  color: var(--black-shade-1);
  font-size: 1.8rem;
}

.product__view--link:hover,
.product__view--link:active {
  color: var(--black-shade-3);
}

/* GALLERY SECTION */

.gallery__img-box {
  height: 26.2rem;
  padding-inline: 2.4rem;
}

.gallery__details {
  background-color: white;
  padding: 3.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gallery__card--extra {
  display: none;
}
.active {
  display: block !important;
}

.top-round {
  border-radius: 0.8rem 0.8rem 0rem 0rem !important;
}

.bottom-round {
  border-radius: 0rem 0rem 0.8rem 0.8rem !important;
}

.center {
  text-align: center;
}

.accordion {
  font-size: 1.8rem;
}

.accordion .accordion__content {
  position: relative;
  margin-bottom: 3.2rem;
}

.accordion .accordion__content .label {
  cursor: pointer;
  position: relative;
  padding: 1.6rem 3.2rem;
  color: var(--black-shade-2);
  background-color: var(--primary-tint-1);
  border-radius: 0.8rem;
}

.accordion .accordion__content .label .steps {
  font-weight: 600;
  margin-right: 2.4rem;
  color: var(--primary);
  border-radius: 0.8rem;
}

.accordion .accordion__content .content {
  position: relative;
  line-height: 1.6;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: hidden;
}

.accordion .accordion__content.active .content {
  height: 13rem;
  border: 0.1rem solid var(--white-secondary);
  padding: 1.6rem 3.2rem;
  border-radius: 0rem 0rem 0.8rem 0.8rem;
}

.accordion .accordion__content.active .label {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}

.testimonial__container {
  display: flex;
  justify-content: center;
}

.testimonial__box {
  text-align: center;
  border-radius: 0.8rem;
  padding: 8rem;
  width: 60%;
  background-color: white;
  transition: all 0.2s ease-in-out;
}

.testimonial__box .person__name {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black-shade-2);
}

.testimonial__box .person__position {
  font-size: 1.2rem;
  color: var(--primary);
}

.blur {
  filter: blur(4px);
}

video {
  border-radius: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.multimedia__img-box {
  overflow: hidden;
  border-radius: 0.8rem;
  height: 14.2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.multimedia-img {
  transition: transform 0.2s ease-in-out;
}

.multimedia-img:hover {
  transform: scale(1.1);
}

.floating-card__details {
  border-radius: 0.8rem;
  background-color: white;
  padding: 2.4rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.floating-card__img-box {
  height: 26.2rem;
}

.date {
  font-size: 1.6rem;
  color: var(--black-shade-2);
}

.extras__card--floating-card {
  position: relative;
}

.floating-card__container {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 60%;
  padding: 0 2.4rem;
  margin-bottom: 360px;
}

.footer__brand--description {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  justify-content: start;
}

.footer__links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer__links li {
  font-size: 1.6rem;
}

.footer__link:visited,
.footer__link:link {
  text-decoration: none;
  color: var(--black-shade-3);
}

.grid-footer {
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: start;
}

.testimonial__button {
  transition: all 0.2s ease-in-out;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  filter: blur(0.06rem);
  border: 3px solid var(--white-secondary);
  padding: 0.3rem;
}

.testimonial__button:nth-child(2) {
  margin-inline: 1.2rem;
}

.active-slide {
  border: 3px solid var(--primary);
  padding: 0.3rem;
  filter: blur(0px);
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.testimonial__container {
  position: relative;
}

.testimonial__buttons--container {
  position: absolute;
  z-index: 9999;
  bottom: 0%;
  transform: translate(0, 50%);
}

.footer__brand--cr {
  font-size: 1.2rem;
}
